
input{
    margin-bottom: 5px;
    width: 450px;
}

.card{
    width: 500px;
    margin-left: 29%;
    background-color:rgb(255, 255, 255);
}

.card-header{
    background-color: #73C3F4;
}

button{
    margin-top: 5px;
    margin-left: 30%;
    width: 200px;
}
a{
    margin-left: 5px;
    // background-color: rgb(58, 152, 219);
}
h2{
    margin-left: 28%;
}